/* 
    CSS FOR ADMIN PAGE

*/

/************************************************ ID *********************************************************/
#logo {
  text-align: center;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #e8e8e8;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#content-nav {
  background-color: black;
}

#northern {
  border-left: solid lightblue 5px;
}
#northern .card-title {
  color: lightblue;
}

#central {
  border-left: solid lightcoral 5px;
}
#central .card-title {
  color: lightcoral;
}
#southern {
  border-left: solid lightgreen 5px;
}
#southern .card-title {
  color: lightgreen;
}
#borneo {
  border-left: solid lightsalmon 5px;
}
#borneo .card-title {
  color: lightsalmon;
}
#eastern {
  border-left: solid yellow 5px;
}
#eastern .card-title {
  color: yellow;
}

#map {
  height: 54vh;
}

/************************************************ CLASS ********************************************************/
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  color: rgb(158, 158, 158);
}

.navbar-nav .nav-link {
  letter-spacing: 1px;
}

.list-group .list-group-item {
  background-color: #e8e8e8;
  color: rgb(75, 74, 74);
  border: none;
}
.list-group .list-group-item:hover {
  transition: 0.2s ease-in-out;
  color: white;
  background-color: #ef3e36;
  box-shadow: 3px 3px 16px 6px rgba(94, 94, 94, 0.27);
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card {
  box-shadow: 3px 3px 9px 0px rgba(94, 94, 94, 0.27);
}

.region {
  transition: 0.2s ease;
  box-shadow: none;
}

.region:hover {
  translate: 5px -5px;
  box-shadow: -5px 5px 0px 0px #afafaf;
  transition: 0.2s ease;
  cursor: pointer;
}

tbody {
  display: block;
  max-height: 10rem;
  overflow-y: scroll;
}

thead {
  display: table;
  width: 98.5%;
  table-layout: fixed;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.list-group-item[data-toggle].collapsed:after {
  font-family: FontAwesome;
  float: right;
  content: "\f078";
}
.list-group-item[data-toggle]:not(.collapsed):after {
  font-family: FontAwesome;
  float: right;
  content: "\f077";
}

.sub .nav-link {
  color: rgb(75, 74, 74);
}

.sub .nav-link:hover {
  border-left: red solid 7px;
  transition: all ease 0.15s;
}

.submenu-list {
  list-style: none;
  background-color: rgb(180, 180, 180);
}

/************************************************ ANIMATION KEYFRAMES ********************************************/
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/************************************************ MEDIA QUERY *********************************************/
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.screen-message {
  display: none;
}

@media (max-width: 1140px) {
  .main {
    display: none;
  }
  .screen-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
}
